@import'../../../main-styles.scss';

.root{
    display: flex;
    width: 100%;
    position: relative;
}

.x-icon-button{
    position: absolute;
    height: 34px;
    width: 34px;
    background-color: $dark;
    background-image: url('../../../assets/delete_icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    right: -17px;
    top: -17px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.2s ease-out, transform 0.2 ease-out;
    transform: scale(0);
    cursor: pointer;
}


.root:hover .x-icon-button {
    opacity: 1;
    transform: scale(1);
}

.budget-item{
    display: flex;
    width: 100%;
    background-color: $light-grey;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.budget-item:hover{
    background-color: darken($light-grey, 4%);
}

.description{
    flex-grow: 1;
    font-size: 18px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.amount{
    padding: 5px;
    border-radius: 3px;
}

.expense p{
    color: $red;
}

.expense.amount p{
    color: $light-red;
}

.income p{
    color: $green;
}

.income.amount p{
    color: $light-green;
}